<div class="content" role="main">

    <section *ngIf="!quiz_in_progress">
    
        <mat-card>
            <mat-card-header>
                <mat-card-title>Quiz Options</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list class="padded-list">
                    <mat-list-item>
                        <mat-checkbox [(ngModel)]="options.hide_incorrect">Hide Incorrect Questions</mat-checkbox>
                    </mat-list-item>
                    <!-- <mat-list-item>
                        <mat-form-field>
                            <mat-label>Time limit in minutes (0 for infinite)</mat-label>
                            <input type="number" matInput placeholder="Time Limit" [(ngModel)]="options.time_limit">
                        </mat-form-field>
                    </mat-list-item> -->
                    <mat-list-item>
                        <mat-form-field>
                            <mat-label>Questions per section (0 for all)</mat-label>
                            <input type="number" matInput placeholder="Total Questions" [(ngModel)]="options.total_questions">
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
    
            </mat-card-content>
        </mat-card>
    
        <mat-card>
            <mat-card-header>
                <mat-card-title>Select Modules</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <!-- <div class="button-row text-right">
                    <button mat-button color="primary">Select All</button>
                    <button mat-button color="primary">Deselect All</button>
                </div> -->
    
                <mat-selection-list 
                    #modulesSelected 
                    (selectionChange)="onSelection($event, modulesSelected.selectedOptions.selected)" 
                    class="margin-bottom"
                    >
                    <mat-accordion [multi]="true">

                        <div *ngFor="let module of modules">
                            <mat-expansion-panel *ngIf="getCompleteQuizzes(module.submodules).length > 0" class="mat-elevation-z">
                                <mat-expansion-panel-header class="no-padding">
                                    <mat-list-item class="expansion-header">
                                        <h4 matLine>{{ module.name }}</h4>
                                        <p matLine>{{ getCompleteQuizzes(module.submodules).length }} Quizzes</p>
                                    </mat-list-item>
                                </mat-expansion-panel-header>
                                
                                <mat-list-option *ngFor="let submodule of getCompleteQuizzes(module.submodules)" [value]="submodule">
                                    <h4 matLine>{{ submodule.identification.name }}</h4>
                                    <p matLine>{{ submodule.question_ids.length }} Questions</p>
                                    <p [hidden]="!submodule.identification.incomplete">Incomplete Module</p>
                                    <mat-divider></mat-divider>
                                </mat-list-option>                            
                            </mat-expansion-panel>
                        </div>
                    
                    </mat-accordion>
                </mat-selection-list>
    
                <!-- <mat-selection-list #modulesSelected (selectionChange)="onSelection($event, modulesSelected.selectedOptions.selected)">
    
                    <mat-list-option *ngFor="let module of submodules" [value]="module">
                        <h4 matLine>{{ module.identification.name }}</h4>
                        <p matLine>{{ module.question_ids.length }} Total Questions</p>
                        <p [hidden]="!module.identification.incomplete">Incomplete Module</p>
                        <mat-divider></mat-divider>
                    </mat-list-option>
    
                    <h3 matSubheader>{{modulesSelected.selectedOptions.selected.length}} of {{modules.length}} modules selected</h3>
                    <h3 matSubheader>{{ catalog.length }} unique questions in database</h3>
                </mat-selection-list> -->

                <mat-chip-list>
                    <mat-chip>{{modulesSelected.selectedOptions.selected.length}} of {{modules.length}} modules selected</mat-chip>
                    <mat-chip>{{ catalog.length }} unique questions in database</mat-chip>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>

        <div class="custom-card-list">
            <mat-card>
                <mat-card-header class="custom-offset-header">
                    <mat-icon>assignment</mat-icon>
                    <h4>&nbsp;Quiz</h4>
                    <p>&nbsp;like Canvas</p>
                </mat-card-header>
                <mat-card-content>
                    <p>This quiz is the most like Canvas, so exactly how you'll be tested on the material. This is a standard quiz.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" (click)="generateQuiz(modulesSelected)">
                        Create Quiz
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header class="custom-offset-header">
                    <mat-icon>done_all</mat-icon>
                    <h4>&nbsp;Learn</h4>
                    <p>&nbsp;smarter</p>
                </mat-card-header>
                <mat-card-content>
                    <p>A Quizlet-style learning method that makes you master groups of questions before continuing on.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" (click)="generateQuiz(modulesSelected)">
                        Start Learning
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

    </section>

    <section *ngIf="quiz_in_progress">
        
        <button mat-button color="warn" (click)="resetQuiz()"><mat-icon>arrow_back</mat-icon> Back to Configurator</button>

        <mat-card class="question-card background mat-elevation-z">
            <mat-card-header>
                <mat-card-title>Review Quiz</mat-card-title>
                <mat-card-subtitle>
                    {{ quiz_questions.length }} Questions
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-list>
                    <mat-chip *ngIf="show_results" selectable="false" color="primary" selected>Current score: {{ calculateScore() }} biaz points out of 100</mat-chip>
                </mat-chip-list>
    
                <mat-chip-list>
                    <mat-chip *ngFor="let module of selected_modules" selectable="false">{{ module.identification.name }}</mat-chip>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>

        <mat-divider class="margin-bottom-huge"></mat-divider>
    
        <mat-card class="question-card" *ngFor="let quiz_question of quiz_questions; index as i">
            <mat-card-header>
                <mat-card-title class="aligned-offset-header">
                    Question {{ i + 1 }}
                    <span *ngIf="options.debug.show_ids">: {{quiz_question.handler.question_id}}</span>
                </mat-card-title>
                <!-- <mat-card-subtitle>{{ quiz_question.type }}</mat-card-subtitle> -->
    
                <mat-chip-list>
                    <mat-chip color="warn" selected *ngIf="results[i] != 1 && show_results">Incorrect</mat-chip>
                    <mat-chip *ngIf="show_results">{{displayQuestionResults(results[i])}} pts</mat-chip>
                    <mat-chip *ngIf="!quiz_question.handler.correct">Original Answer Incorrect</mat-chip>
                </mat-chip-list>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="results[i] != 1 && show_results">
                    Answer: <br>
                    {{ printQuestion(quiz_question.handler.answer) }}
                </p>
    
                <!-- <div [innerHTML]="quiz_question.handler.question_text"></div> -->
                
                <app-multiple-choice-question *ngIf="quiz_question.type == 'multiple_choice_question'" [question]="quiz_question.handler" (score)="recordResult($event, i)"></app-multiple-choice-question>
                <app-short-answer-question *ngIf="quiz_question.type == 'short_answer_question'" [question]="quiz_question.handler" (score)="recordResult($event, i)"></app-short-answer-question>
                <app-multiple-answers-question *ngIf="quiz_question.type == 'multiple_answers_question'" [question]="quiz_question.handler" (score)="recordResult($event, i)"></app-multiple-answers-question>
                <app-fill-in-multiple-blanks-question *ngIf="quiz_question.type == 'fill_in_multiple_blanks_question'" [question]="quiz_question.handler" (score)="recordResult($event, i)"></app-fill-in-multiple-blanks-question>
                <app-matching-question *ngIf="quiz_question.type == 'matching_question'" [question]="quiz_question.handler" (score)="recordResult($event, i)"></app-matching-question>
                <app-multiple-dropdowns-question *ngIf="quiz_question.type == 'multiple_dropdowns_question'" [question]="quiz_question.handler" (score)="recordResult($event, i)"></app-multiple-dropdowns-question>
                <app-numerical-answer-question *ngIf="quiz_question.type == 'numerical_question'" [question]="quiz_question.handler" (score)="recordResult($event, i)"></app-numerical-answer-question>
                <app-true-false-question *ngIf="quiz_question.type == 'true_false_question'" [question]="quiz_question.handler" (score)="recordResult($event, i)"></app-true-false-question>
    
            </mat-card-content>
            <mat-card-footer>
                <mat-list *ngIf="options.debug.show_contributor">
                    <h3 matSubheader>Contributor: </h3>
                    <mat-list-item>
                        <img matListAvatar [src]="quiz_question.timestamp.avatar" [alt]="quiz_question.timestamp.name">
                        <h3 matLine> {{ quiz_question.timestamp.name }} </h3>
                        <p matLine>
                            <span> Source: {{ quiz_question.timestamp.quiz.name }} </span>
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-card-footer>
        </mat-card>
    
        <div class="text-center">
            <button mat-raised-button color="primary" (click)="showResults()">Submit</button>
        </div>
    </section>

    <mat-accordion>
        <mat-expansion-panel (opened)="options.debug.debug_panel_state = true"
            (closed)="options.debug.debug_panel_state = false" class="mat-elevation-z background">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Developer Options
            </mat-panel-title>
            <mat-panel-description class="text-right flex-row-reverse">
                <div *ngIf="options.debug.debug_panel_state">You are now a developer!</div>
            </mat-panel-description>
            </mat-expansion-panel-header>
    
            <mat-list>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Lookup question by ID" [(ngModel)]="options.debug.lookup">
                        <button mat-button matSuffix (click)="lookupQuestion(options.debug.lookup)">Lookup</button>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-checkbox [(ngModel)]="options.debug.shuffle">Shuffle Questions</mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <mat-checkbox [(ngModel)]="options.debug.show_ids">Show Question IDs</mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <mat-checkbox [(ngModel)]="options.debug.show_contributor">Show Contributor</mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button color="primary" (click)="superQuiz()">total biaz</button>
                    <p matLine>Every module: this will definitely freeze your browser</p>
                </mat-list-item>
            </mat-list>
            <div *ngIf="options.debug.terminal_output != ''" class="terminal">
                <pre>{{ options.debug.terminal_output }}</pre>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z background">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Changelog
                </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>10/24/19</h4>
            <ul>
                <li>Dark mode and other theme tweaks</li>
                <li>This changelog is new</li>
                <li>Question id lookup is 28% better</li>
            </ul>
            <mat-divider></mat-divider>
            <h4>10/23/19</h4>
            <ul>
                <li>Added M10 material</li>
                <li>Reorganized and sorted the quiz selector so there's less scrolling</li>
                <li>Also fixed an issue with new modules not showing up (cache issue)</li>
            </ul>
            <mat-divider></mat-divider>
            <h4>10/20/19</h4>
            <ul>
                <li>Launch</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
    
</div>
