<div class="content" role="main">

    <section *ngIf="quiz_in_progress == 'none'">

        <mat-card>
            <mat-card-header class="custom-offset-header">
                <mat-icon>mood_bad</mat-icon>
                <h3>&nbsp;Misc. Tools</h3>
            </mat-card-header>
            <mat-card-content>
                <mat-expansion-panel class="mat-elevation-z">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Packet Trace Table Formatter
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <img src="assets/copytrace.png" width="200px" height="auto">
                    <p>Copy "your answer" from a packet tracing question from Canvas and paste it into the text box below. Make sure to copy every line, even the N/A or blank ones.</p>
                    <p>Supports 40, 46, and 50-blank questions.</p>
                    <mat-form-field class="full-width">
                        <textarea matInput [(ngModel)]="packetTracingTable.input" rows="5" placeholder="Paste below"></textarea>
                    </mat-form-field>
                    <button mat-button color="primary" (click)="formatTracingTable()">Create Table</button>
                    <mat-divider></mat-divider>
                    <div class="pretty-table" id="packet-table">
                        <table [innerHTML]="packetTracingTable.table"></table>
                    </div>
                    <mat-divider></mat-divider>
                    <button mat-button color="primary" (click)="copyPacketTable()" *ngIf="packetTracingTable.table != ''">Copy Table to Clipboard</button>
                </mat-expansion-panel>
            </mat-card-content>
        </mat-card>
    
        <mat-card>
            <mat-card-header class="custom-offset-header">
                <mat-icon>build</mat-icon>
                <h3>&nbsp;Quiz Configuration</h3>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-form-field>
                            <mat-label>Questions per section (0 for all)</mat-label>
                            <input type="number" matInput placeholder="Total Questions" [(ngModel)]="options.number_of_questions">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-expansion-panel class="mat-elevation-z">
                        <mat-expansion-panel-header>
                            Advanced Options
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item>
                                <mat-checkbox [(ngModel)]="options.hide_incorrect">Hide Unknown Questions</mat-checkbox>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-checkbox [(ngModel)]="options.shuffle">Shuffle Questions</mat-checkbox>
                            </mat-list-item>
                            <mat-list-item>
                                <button mat-button color="primary" (click)="superQuiz()">total biaz</button>
                                <p matLine>Load every question: this will definitely freeze your browser</p>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-list>
            </mat-card-content>
        </mat-card>
    
        <mat-card>
            <mat-card-header class="custom-offset-header">
                <mat-icon>playlist_add_check</mat-icon>
                <h3>&nbsp;{{modulesSelected.selectedOptions.selected.length}} Modules Selected</h3>
            </mat-card-header>
            
            <mat-card-content>
                <!-- <div class="button-row text-right">
                    <button mat-button color="primary">Select All</button>
                    <button mat-button color="primary">Deselect All</button>
                </div> -->
    
                <mat-selection-list 
                    #modulesSelected 
                    (selectionChange)="onSelection($event, modulesSelected.selectedOptions.selected)" 
                    class="margin-bottom"
                    >
                    <mat-accordion [multi]="true">

                        <div *ngFor="let module of modules">
                            <mat-expansion-panel *ngIf="getCompleteQuizzes(module.submodules).length > 0" class="mat-elevation-z">
                                <mat-expansion-panel-header class="no-padding">
                                    <mat-list-item class="expansion-header">
                                        <h4 matLine>{{ module.name }}</h4>
                                        <p matLine>{{ getCompleteQuizzes(module.submodules).length }} Quizzes</p>
                                    </mat-list-item>
                                </mat-expansion-panel-header>
                                
                                <mat-list-option *ngFor="let submodule of getCompleteQuizzes(module.submodules)" [value]="submodule">
                                    <h4 matLine>{{ submodule.identification.name }}</h4>
                                    <p matLine>{{ submodule.question_ids.length }} Questions</p>
                                    <p [hidden]="!submodule.identification.incomplete">Incomplete Module</p>
                                    <mat-divider></mat-divider>
                                </mat-list-option>                            
                            </mat-expansion-panel>
                        </div>

                        <p class="text-gray">Want to submit your quizzes and help out your classmates? DM me (jerry hu) on GroupMe or Canvas and I'll let you know how to contribute! Contributions can be done anonymously.</p>
                    
                    </mat-accordion>
                </mat-selection-list>
    
                <!-- <mat-selection-list #modulesSelected (selectionChange)="onSelection($event, modulesSelected.selectedOptions.selected)">
    
                    <mat-list-option *ngFor="let module of submodules" [value]="module">
                        <h4 matLine>{{ module.identification.name }}</h4>
                        <p matLine>{{ module.question_ids.length }} Total Questions</p>
                        <p [hidden]="!module.identification.incomplete">Incomplete Module</p>
                        <mat-divider></mat-divider>
                    </mat-list-option>
    
                    <h3 matSubheader>{{modulesSelected.selectedOptions.selected.length}} of {{modules.length}} modules selected</h3>
                    <h3 matSubheader>{{ catalog.length }} unique questions in database</h3>
                </mat-selection-list> -->

                <!-- <mat-chip-list>
                    <mat-chip>{{ catalog.length }} unique questions in database</mat-chip>
                </mat-chip-list> -->
            </mat-card-content>
        </mat-card>

        <div class="custom-card-list">
            <mat-card>
                <mat-card-header class="custom-offset-header">
                    <mat-icon>assignment</mat-icon>
                    <h4>&nbsp;Quiz</h4>
                </mat-card-header>
                <mat-card-content>
                    <p>This quiz is the most like Canvas, so exactly like how you'll be tested on the material. This is a standard quiz.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" (click)="normalQuiz(modulesSelected)">
                        Start Quiz
                    </button>
                </mat-card-actions>
            </mat-card>
            <!-- <mat-card>
                <mat-card-header class="custom-offset-header">
                    <mat-icon>done_all</mat-icon>
                    <h4>&nbsp;Learn</h4>
                    <p>&nbsp;smarter</p>
                </mat-card-header>
                <mat-card-content>
                    <p>A Quizlet-style learning method that makes you master groups of questions before continuing on.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" (click)="learnQuiz(modulesSelected)" disabled>
                        Coming Soon
                    </button>
                </mat-card-actions>
            </mat-card> -->
        </div>

    </section>

    <section *ngIf="quiz_in_progress == 'normal'">
        
        <app-quiz [selected_modules]="selected_modules" [options]="options" (quiz_done)="quizDone($event, i)"></app-quiz>

    </section>

    <section *ngIf="quiz_in_progress == 'learn'">
        
        <app-learn [selected_modules]="selected_modules" [options]="options" (quiz_done)="quizDone($event, i)"></app-learn>

    </section>
        
    <mat-expansion-panel class="mat-elevation-z background">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Changelog
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h4>10/31/19 - Ghastly Edition</h4>
        <ul>
            <li>Packet Tracing Tools</li>
            <li>Dark mode now respects system setting 👻</li>
            <li>Bugfix: inaccurate module count in module select card</li>
        </ul>
        <mat-divider></mat-divider>

        <h4>10/24/19 - Driving On Mars Edition</h4>
        <ul>
            <li>Dark mode and other theme tweaks</li>
            <li>Bugfix: Answers now wrap</li>
            <li>Bugfix: Images and code no longer extend off the question card</li>
            <li>This changelog is new</li>
            <li>Question id lookup is 28% better</li>
        </ul>
        <mat-divider></mat-divider>
        
        <h4>10/23/19</h4>
        <ul>
            <li>Added M10 material</li>
            <li>Reorganized and sorted the quiz selector so there's less scrolling</li>
            <li>Also fixed an issue with new modules not showing up (cache issue)</li>
        </ul>
        <mat-divider></mat-divider>
        
        <h4>10/20/19</h4>
        <ul>
            <li>Launch</li>
        </ul>
    </mat-expansion-panel>
    
</div>
