<div class="background">
    <mat-toolbar color="primary">
        <span>4320 Requizzer</span>

        <!-- This fills the remaining space of the current row -->
        <span class="spacer"></span>
        <span>by jerrywoohu</span>
    </mat-toolbar>


    <router-outlet></router-outlet>


    <footer>
        Created by <a href="https://jerrywoohu.com">@jerrywoohu</a>&nbsp;&middot;&nbsp;
        <a href="https://github.com/jerrywoohu/4320-requizer" target="_blank" rel="noopener">
            View this project on GitHub
        </a>
    </footer>
</div>